.article {
  padding: 25px 73px 50px 25px;
  margin-right: 20px;
  width: 66%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    padding: 0 0 25px;
    margin: 0;
    width: 100%;
    box-shadow: none;
  }
}

.article__title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.article__list {
  @include list-reset;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.article__item {
  margin: 0 0 25px;

  @media (max-width: $mobile-width) {
    &:nth-child(4n) {
      display: none;
    }
  }
}

.article__subtitle {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $font-grey;
}

.article__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $font-grey;
}

.article__catalog-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $green;
}
