.news {
  position: relative;
  overflow: hidden;
  padding: 20px 0 45px;
  margin-bottom: 40px;
  background-color: $light-grey;

  @media (max-width: $mobile-width) {
    padding: 7px 0 20px;
  }
}

.news__title {
  margin: 0 20px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $green;
  text-align: right;

  @media (max-width: $mobile-width) {
    margin: 0 0 8px;
  }
}

.news__list {
  @include list-reset;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;

  @media (max-width: $mobile-width) {
    margin: 0 0 15px;
  }
}

.news__item {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-right: 4%;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    width: 100%;
  }
}

.news__link {
  display: block;
}

.news__img {
  margin-bottom: 15px;
  position: relative;
  background-color: $grey;
  border-radius: 10px;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    width: 320px;
    height: 150px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/camera.svg");
  }
}

.news__about {
  margin: 0;
}

.news__subtitle {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: $font-grey;

  @media (max-width: $mobile-width) {
    margin: 10px 0;
  }
}

.news__description {
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 20px;
  color: $font-grey;
}

.news__wrapper {
  display: flex;
  justify-content: center;
}
