.page__body {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $font-grey;
  min-width: 360px;
  min-height: 100vh;
  align-content: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.page__wrapper {
  display: flex;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.page__wrap {
  display: grid;
  grid-template-columns: 72.5% 25.5%;
  grid-template-rows: 50% 1fr;
  margin-bottom: 40px;
  gap: 20px;
  padding: 0 30px;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
