@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/SourceSansPro-Regular.woff") format("woff"),
    url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/SourceSansPro-SemiBold.woff") format("woff"),
    url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/SourceSansPro-Bold.woff") format("woff"),
    url("../fonts/SourceSansPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
}
