$basic-white: rgba(255, 255, 255, 1);
$font-grey: rgba(32, 53, 56, 0.9);
$opacity-black: rgba(0, 0, 0, 0.3);
$opacity-dark: rgba(0, 0, 0, 0.8);
$green: rgba(3, 160, 108, 1);
$light-green: rgb(213, 252, 120);
$grass-green: rgba(42, 172, 74, 1);

